<div class="row">
    <div class="col-lg-6 mx-auto">
                    
        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
        <h2>Create new blog post</h2>
        <%= form_with url: create_article_path do |f| %>

            <p>
                <%= f.label :title %><br/>
                <%= f.text_field :title, size: "50x2"%>
            </p>
            <p>
                <%= f.label :content %><br/>
                <%= f.text_area :content, size: "70x5" %>
            </p>
            <p>
                <%= f.submit %>
            </p>

        <% end %>
        </blockquote>
                
    </div>
</div>

                    
